# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.husky/                                        @fullstackninja864 @lykalabrada @pierregee
/.github/                                       @fullstackninja864 @lykalabrada @pierregee

public                                          @fullstackninja864 @lykalabrada @pierregee
apps/web                                        @fullstackninja864 @lykalabrada @pierregee
apps/server                                     @fullstackninja864 @lykalabrada @pierregee
packages                                        @fullstackninja864 @lykalabrada @pierregee @cuongquangnam

.codeclimate.yml                                @fullstackninja864 @lykalabrada @pierregee
.editorconfig                                   @fullstackninja864 @lykalabrada @pierregee
.eslintignore                                   @fullstackninja864 @lykalabrada @pierregee
.eslintrc                                       @fullstackninja864 @lykalabrada @pierregee
.gitignore                                      @fullstackninja864 @lykalabrada @pierregee
.imgbotconfig                                   @fullstackninja864 @lykalabrada @pierregee
.lintstagedrc.js                                @fullstackninja864 @lykalabrada @pierregee
.nvmrc                                          @fullstackninja864 @lykalabrada @pierregee

codecov.yml                                     @fullstackninja864 @lykalabrada @pierregee
docker-compose.yml                              @fullstackninja864 @lykalabrada @pierregee
LICENSE                                         @fullstackninja864 @lykalabrada @pierregee
package.json                                    @fullstackninja864 @lykalabrada @pierregee
package-lock.json                               @fullstackninja864 @lykalabrada @pierregee
postcss.config.js                               @fullstackninja864 @lykalabrada @pierregee
README.md                                       @fullstackninja864 @lykalabrada @pierregee
tailwind.config.js                              @fullstackninja864 @lykalabrada @pierregee
tsconfig.json                                   @fullstackninja864 @lykalabrada @pierregee
